<a href="https://colab.research.google.com/github/agnes-123/work/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
url = "https://www.hko.gov.hk/en/index.html"

In [ ]:
from bs4 import BeautifulSoup
import requests

In [ ]:
header = {"user-agent": 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36'}
response = requests.get(url, headers=header)
http_string = response.text
html = BeautifulSoup(http_string, 'html.parser')

In [ ]:
product_list = html.select_one('div.area_current')

In [ ]:
info_list = product_list.find_all('div.detail', recursive=False)

In [ ]:
info_list

[]

In [ ]:
list1 = []
for product in info_list:
  # print(li.select_one('h2.title-name > a').text)
  product_name = product.select_one('a.productName').text
  unit = product.select_one('div.productUnit').text
  price = product.select_one('span.currentPrice').text
  infolink = product.select_one('')
  img = product.select_one('e2-media.is-initialized > img')['src']
  list1.append([product_name, unit, price, img])

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.DataFrame({
    "name": ["John Smith", "Jane Doe", "Joe Schmo"],
    "address": ["123 Main St.", "456 Maple Ave.", "789 Broadway"],
    "age": [34, 28, 51]
})

In [ ]:
df2 = pd.DataFrame([
        ['John Smith', '123 Main St.', 34],
        ['Jane Doe', '456 Maple Ave.', 28],
        ['Joe Schmo', '789 Broadway', 51]
    ],
    columns=['name', 'address', 'age']
)

In [ ]:
#head, info, describe

In [ ]:
clinic_df = pd.DataFrame([
        ['January', 100, 100, 23, 100],
        ['February', 51, 45, 145, 45],
        ['March', 81, 96, 65, 96],
        ['April', 80, 80, 54, 180],
        ['May', 51, 54, 54, 154],
        ['June', 112, 109, 79, 129]
    ],
    columns=['month', 'clinic_east','clinic_north', 'clinic_south','clinic_west']
)

In [ ]:
clinic_df

      month  clinic_east  clinic_north  clinic_south  clinic_west
0   January          100           100            23          100
1  February           51            45           145           45
2     March           81            96            65           96
3     April           80            80            54          180
4       May           51            54            54          154
5      June          112           109            79          129

In [ ]:
clinic_df.iloc[:,2]

0    100
1     45
2     96
3     80
4     54
5    109
Name: clinic_north, dtype: int64

In [ ]:
clinic_copy = clinic_df.set_index('month')
clinic_copy.loc['May']

clinic_east      51
clinic_north     54
clinic_south     54
clinic_west     154
Name: May, dtype: int64

In [ ]:
orders_df = pd.read_csv('https://drive.google.com/u/1/uc?id=1TxuhuoNCG8y4nvnAPxtq7-N7NI7X4dG1&export=download')

In [ ]:
orders_df.head()

,id,first_name,last_name,gender,email,shoe_type,shoe_material,shoe_color
0,54791,Rebecca,Lindsay,female,RebeccaLindsay57@hotmail.com,clogs,faux-leather,black
1,53450,Emily,Joyce,female,EmilyJoyce25@gmail.com,ballet flats,faux-leather,navy
2,91987,Joyce,Waller,female,Joyce.Waller@gmail.com,sandles,fabric,black
3,14437,Justin,Erickson,male,Justin.Erickson@outlook.com,clogs,faux-leather,red
4,79357,Andrew,Banks,male,AB4318@gmail.com,boots,leather,brown

In [ ]:
orders_df.columns=['ID','first_name', 'last_name', 'gender', 'email', 'shoe_type',
       'shoe_material', 'shoe_color']

In [ ]:
orders_df.head()

,ID,first_name,last_name,gender,email,shoe_type,shoe_material,shoe_color
0,54791,Rebecca,Lindsay,female,RebeccaLindsay57@hotmail.com,clogs,faux-leather,black
1,53450,Emily,Joyce,female,EmilyJoyce25@gmail.com,ballet flats,faux-leather,navy
2,91987,Joyce,Waller,female,Joyce.Waller@gmail.com,sandles,fabric,black
3,14437,Justin,Erickson,male,Justin.Erickson@outlook.com,clogs,faux-leather,red
4,79357,Andrew,Banks,male,AB4318@gmail.com,boots,leather,brown

In [ ]:
employee_df = pd.read_csv("https://drive.google.com/u/1/uc?id=1d5MX8MBucLfrRkrxMyrXPMmcp4AzeNk7&export=download")

In [ ]:
employee_df.head()

      id               name  hourly_wage  hours_worked
0  10310      Lauren Durham           19            43
1  18656      Grace Sellers           17            40
2  61254  Shirley Rasmussen           16            30
3  16886        Brian Rojas           18            47
4  89010    Samantha Mosley           11            38

In [ ]:
employee_df['First Name']=employee_df['name'].str.split()

In [ ]:
employee_df.head()

      id               name  hourly_wage  hours_worked            First Name
0  10310      Lauren Durham           19            43      [Lauren, Durham]
1  18656      Grace Sellers           17            40      [Grace, Sellers]
2  61254  Shirley Rasmussen           16            30  [Shirley, Rasmussen]
3  16886        Brian Rojas           18            47        [Brian, Rojas]
4  89010    Samantha Mosley           11            38    [Samantha, Mosley]

In [ ]:
import pandas as pd
shoefly_df = pd.read_csv("https://drive.google.com/u/1/uc?id=1TxuhuoNCG8y4nvnAPxtq7-N7NI7X4dG1&export=download")

In [ ]:
def low_case(z):
  return z.upper()

In [ ]:
shoefly_df['shoe_type']= shoefly_df['shoe_type'].apply(low_case)

In [ ]:
shoefly_df.head()

,id,first_name,last_name,gender,email,shoe_type,shoe_material,shoe_color
0,54791,Rebecca,Lindsay,female,RebeccaLindsay57@hotmail.com,CLOGS,faux-leather,black
1,53450,Emily,Joyce,female,EmilyJoyce25@gmail.com,BALLET FLATS,faux-leather,navy
2,91987,Joyce,Waller,female,Joyce.Waller@gmail.com,SANDLES,fabric,black
3,14437,Justin,Erickson,male,Justin.Erickson@outlook.com,CLOGS,faux-leather,red
4,79357,Andrew,Banks,male,AB4318@gmail.com,BOOTS,leather,brown

In [ ]:
shoefly_df['shoe_material'].value_counts()

fabric          9
leather         6
faux-leather    5
Name: shoe_material, dtype: int64

In [ ]:
shoefly_df['shoe_source'] = shoefly_df.shoe_material.apply(lambda v: "animal" if v in ["leather"] else "vegan")

In [ ]:
shoefly_df.head()

,id,first_name,last_name,gender,email,shoe_type,shoe_material,shoe_color,shoe_source
0,54791,Rebecca,Lindsay,female,RebeccaLindsay57@hotmail.com,clogs,faux-leather,black,vegan
1,53450,Emily,Joyce,female,EmilyJoyce25@gmail.com,ballet flats,faux-leather,navy,vegan
2,91987,Joyce,Waller,female,Joyce.Waller@gmail.com,sandles,fabric,black,vegan
3,14437,Justin,Erickson,male,Justin.Erickson@outlook.com,clogs,faux-leather,red,vegan
4,79357,Andrew,Banks,male,AB4318@gmail.com,boots,leather,brown,animal

In [ ]:
import pandas as pd
df = pd.read_csv("https://drive.google.com/u/1/uc?id=193Wc__Rs9Om_-VkQIjIGzs7D-whXFS6N&export=download")

In [ ]:
df.head()

,Unnamed: 0,Bachelor's Degree or Higher for Alabama,"Bachelor's Degree or Higher (5-year estimate) in Los Angeles County, CA",Bachelor's Degree or Higher for California,"Bachelor's Degree or Higher (5-year estimate) in Harris County, TX",Bachelor's Degree or Higher for Arizona,Bachelor's Degree or Higher for Michigan,Bachelor's Degree or Higher for North Carolina,Bachelor's Degree or Higher for Minnesota,Bachelor's Degree or Higher for Arkansas,...,"Bachelor's Degree or Higher (5-year estimate) in Hopkins County, KY","Bachelor's Degree or Higher (5-year estimate) in Caldwell County, KY","Bachelor's Degree or Higher (5-year estimate) in Campbell County, KY","Bachelor's Degree or Higher (5-year estimate) in Franklin County, KY","Bachelor's Degree or Higher (5-year estimate) in Gallatin County, KY","Bachelor's Degree or Higher (5-year estimate) in Lawrence County, KY","Bachelor's Degree or Higher (5-year estimate) in Breathitt County, KY","Bachelor's Degree or Higher (5-year estimate) in Christian County, KY","Bachelor's Degree or Higher (5-year estimate) in Crittenden County, KY","Bachelor's Degree or Higher (5-year estimate) in Cumberland County, KY"
0,2006-01-01,21.1,NaN,29.0,NaN,25.5,24.5,24.8,30.4,18.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2007-01-01,21.4,NaN,29.5,NaN,25.3,24.7,25.6,31.0,19.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2008-01-01,22.0,NaN,29.6,NaN,25.1,24.7,26.1,31.5,18.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2009-01-01,22.0,NaN,29.9,NaN,25.6,24.6,26.5,31.5,18.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-01-01,21.9,29.0,30.1,27.7,25.9,25.2,26.5,31.8,19.5,...,13.2,14.0,26.3,27.2,9.0,8.2,10.4,13.7,9.3,7.9

In [ ]:
df_cln = df.columns

In [ ]:
df.rename (columns={'Unnamed: 0':'Date'}, inplace = True)

In [ ]:
type(df_cln)

pandas.core.indexes.base.Index

In [ ]:
pd.melt(df,id_vars ='Date', value_vars = df_cln,var_name='measure', value_name='count')

             Date                                            measure  count
0      2006-01-01            Bachelor's Degree or Higher for Alabama   21.1
1      2007-01-01            Bachelor's Degree or Higher for Alabama   21.4
2      2008-01-01            Bachelor's Degree or Higher for Alabama   22.0
3      2009-01-01            Bachelor's Degree or Higher for Alabama   22.0
4      2010-01-01            Bachelor's Degree or Higher for Alabama   21.9
...           ...                                                ...    ...
11659  2017-01-01  Bachelor's Degree or Higher (5-year estimate) ...   13.2
11660  2018-01-01  Bachelor's Degree or Higher (5-year estimate) ...   13.1
11661  2019-01-01  Bachelor's Degree or Higher (5-year estimate) ...   13.3
11662  2020-01-01  Bachelor's Degree or Higher (5-year estimate) ...   14.9
11663  2021-01-01  Bachelor's Degree or Higher (5-year estimate) ...   13.4

[11664 rows x 3 columns]

In [ ]:
import pandas as pd
df = pd.read_csv("https://drive.google.com/u/1/uc?id=1wZHv9TCTZdmkiJ_ddOjb09we3whPjeeT&export=download")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11664 entries, 0 to 11663
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   year     11664 non-null  object
 1   measure  11664 non-null  object
 2   count    8945 non-null   float64
dtypes: float64(1), object(2)
memory usage: 273.5+ KB

In [ ]:
df.iloc[50,1]

"Bachelor's Degree or Higher (5-year estimate) in Harris County, TX"

In [ ]:
def country_split(z):
  if "in" in z:
    z = z.replace("'","")
    z = z.split("in ")[1]
  else:
    z = " "
  return z

def state_split(z):
  if "for" in z:
    z = z.replace("'","")
    z = z.split("for ")[1]
  else:
    z = " "
  return z

In [ ]:
country_split("Bachelor's Degree or Higher in England")

'England'

In [ ]:
import re
def state_check(z):
  state_regex = r"\w.for\s(\w+)"
  regex_result = re.search(state_regex, z)
  if not regex_result:
    return False
  else:
    return True

In [ ]:
df['is_county'] = df['measure'].apply(state_check)

In [ ]:
df1=df[df['is_county']== True]
df1.head()

         year                                  measure  count  is_county
0  2006-01-01  Bachelor's Degree or Higher for Alabama   21.1       True
1  2007-01-01  Bachelor's Degree or Higher for Alabama   21.4       True
2  2008-01-01  Bachelor's Degree or Higher for Alabama   22.0       True
3  2009-01-01  Bachelor's Degree or Higher for Alabama   22.0       True
4  2010-01-01  Bachelor's Degree or Higher for Alabama   21.9       True

In [ ]:
 def state_name(z):
  state_regex = r"\w.for\s(\w+)"
  regex_result = re.search(state_regex, z)
  return regex_result.groups()[0]

In [ ]:
df1['is_state'] = df1['measure'].apply(state_name)

<ipython-input-9-85d9bc0d6b34>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['is_state'] = df1['measure'].apply(state_name)

In [ ]:
df1.head()

,year,measure,count,is_county,is_state
0,2006-01-01,Bachelor's Degree or Higher for Alabama,21.1,True,Alabama
1,2007-01-01,Bachelor's Degree or Higher for Alabama,21.4,True,Alabama
2,2008-01-01,Bachelor's Degree or Higher for Alabama,22.0,True,Alabama
3,2009-01-01,Bachelor's Degree or Higher for Alabama,22.0,True,Alabama
4,2010-01-01,Bachelor's Degree or Higher for Alabama,21.9,True,Alabama

In [ ]:
df_group = pd.pivot_table(df1,values= 'count', index = 'year', columns='is_state')

In [ ]:
df_group.reset_index(inplace = True)

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
state_split("Bachelor's Degree or Higher for Alabama")

' Alabama'

In [ ]:
df['is_state']

<bound method IndexOpsMixin.value_counts of 0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
11659    NaN
11660    NaN
11661    NaN
11662    NaN
11663    NaN
Name: is_state, Length: 11664, dtype: object>

In [ ]:
df.head(20)

,year,measure,count,is_state,is_county
0,2006-01-01,Bachelor's Degree or Higher for Alabama,21.1,NaN,NaN
1,2007-01-01,Bachelor's Degree or Higher for Alabama,21.4,NaN,NaN
2,2008-01-01,Bachelor's Degree or Higher for Alabama,22.0,NaN,NaN
3,2009-01-01,Bachelor's Degree or Higher for Alabama,22.0,NaN,NaN
4,2010-01-01,Bachelor's Degree or Higher for Alabama,21.9,NaN,NaN
5,2011-01-01,Bachelor's Degree or Higher for Alabama,22.3,NaN,NaN
6,2012-01-01,Bachelor's Degree or Higher for Alabama,23.3,NaN,NaN
7,2013-01-01,Bachelor's Degree or Higher for Alabama,23.5,NaN,NaN
8,2014-01-01,Bachelor's Degree or Higher for Alabama,23.5,NaN,NaN
9,2015-01-01,Bachelor's Degree or Higher for Alabama,24.2,NaN,NaN
10,2016-01-01,Bachelor's Degree or Higher for Alabama,24.7,NaN,NaN
11,2017-01-01,Bachelor's Degree or Higher for Alabama,25.5,NaN,NaN
12,2018-01-01,Bachelor's Degree or Higher for Alabama,25.5,NaN,NaN
13,2019-01-01,Bachelor's Degree or Higher for Alabama,26.3,NaN,NaN
14,2020-01-01,Bachelor's Degree or Higher for Alabama,27.8,NaN,NaN
15,2021-01-01,Bachelor's Degree or Higher for Alabama,27.4,NaN,NaN
16,2006-01-01,Bachelor's Degree or Higher (5-year estimate) ...,NaN,NaN,NaN
17,2007-01-01,Bachelor's Degree or Higher (5-year estimate) ...,NaN,NaN,NaN
18,2008-01-01,Bachelor's Degree or Higher (5-year estimate) ...,NaN,NaN,NaN
19,2009-01-01,Bachelor's Degree or Higher (5-year estimate) ...,NaN,NaN,NaN